{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/index-bg.jpg')}}')">

    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{data.flight.title}} Index: {{data.index}}</h1>
            <h2 class="subheading">{{data.flight.subtitle}}</h2>
            <span class="meta">Created by
              <a href="#">{{data.flight.author}}</a>
              on {{data.flight.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Flight Content -->
  <article>
    
    <div class="container">
      <div id="threejs"></div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            

          <div id="divPlot"></div>
        </div>
      </div> 
      
      <div class="row">
        <hr>
        <div class="col-lg-8 col-md-8 mx-auto">
          <div class="progress">
            <div id="divDroneSelectionProgressbar"class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="20">0/{{data.quantity_of_drones}}</div>
          </div>
          <div id="droneTableSpinner" class="spinner-border" role="status"  style="display: none;">
            <span class="sr-only">Loading...</span>
          </div>
          <div id="divDroneInformation" style="display: none;">

            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th scope="col">URI</th>
                  <th scope="col">Status</th>
                  <th scope="col">Activated</th>
                </tr>
              </thead>
              <tbody id="droneTableBody">
              </tbody>
            </table>

          </div>
        </div>

        <div class="col-lg-4 col-md-4 mx-auto">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button id="startBtn" onclick="start_flight({{data.time_information}})" type="button" class="btn btn-secondary">Start Flight</button>
            <button onclick="initialize()" type="button" class="btn btn-secondary">Initialize drones</button>
            <a href="{{url_for('edit_flight', flight_id=data.flight.id)}}"><button type="button" class="btn btn-secondary">Edit Flight</button></a>
          </div>
        </div>
      </div>
      
      <!-- <div class="row">
        <hr>
        <div class="col-lg-6 col-md-6 mx-auto">
          {{ data.flight.body|safe }}
          <hr>
        </div>
      </div> -->
    </div>
  </article>

  <hr>
{% include "footer.html" %}

<script>
  var start = false;
  var iteration = 1;
  var quantity_of_drones = {{ data.quantity_of_drones }};
  var quantity_of_activated_drones = 0;
  var activated_drones = {};

  var listener = {};



  function toggle_activate_drone(element, URI){
    if (activated_drones[URI] == "activated"){
      quantity_of_activated_drones -= 1;
      document.getElementById("divDroneSelectionProgressbar").style.width = String(100*quantity_of_activated_drones/quantity_of_drones) + "%";
      document.getElementById("divDroneSelectionProgressbar").innerHTML = String(quantity_of_activated_drones)+"/"+String(quantity_of_drones);
      activated_drones[URI] = "ok"
      element.style.color = "white";
    } else if (activated_drones[URI] == "ok"){
      quantity_of_activated_drones += 1;
      document.getElementById("divDroneSelectionProgressbar").style.width = String(100*quantity_of_activated_drones/quantity_of_drones) + "%";
      document.getElementById("divDroneSelectionProgressbar").innerHTML = String(quantity_of_activated_drones)+"/"+String(quantity_of_drones);      
      activated_drones[URI] = "activated"
      element.style.color = "green";
    } else {
      Swal.fire({
              icon: 'error',
              title: 'Not activalable',
            })
    }
  }

  function build_drone_table(data){
    html_list = "";
    
    for (let i in data) {
        console.log(typeof(data[i]))
        if (data[i] != "not found"){
          activated_drones[i] = data[i]
          html_list += "<tr style='cursor: pointer;' onclick='toggle_activate_drone(this, &quot;" + i + "&quot;)'><th>" + i + "</th><th>" + data[i] + "</th></tr>";
        } else {
          html_list += "<tr style='cursor: not-allowed;' onclick='toggle_activate_drone(this, &quot;" + i + "&quot;)'><th>" + i + "</th><th>" + data[i] + "</th></tr>";
        }

      }
    document.getElementById("droneTableBody").innerHTML = html_list;
    document.getElementById("divDroneInformation").style.display = "block";
    document.getElementById("droneTableSpinner").style.display = "none";
  }

  function initialize(){
    document.getElementById("droneTableSpinner").style.display = "block";
    $.ajax({
        url: '/initialize-drones',
        type: 'GET',
        success: function(response){
          if(response.status == 'Error'){
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: response.msg
            })
          } else {
            build_drone_table(response);
          }
        },
        error: function(error){
            console.log(error);
        }
    });
  }

  function start_flight(time_information){
    $.ajax({
        url: '/start-drones-flight',
        type: 'POST',
        data: activated_drones,
        success: function(response){
          if(response.status == 'Error'){
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: response.msg
            })
          } else {
            console.log(response);
          }
        },
        error: function(error){
            console.log(error);
        }
    });
    console.log(time_information);
    get_flight_data(1)
    let alert_text = ""
    if(start){
      alert_text = "Flight stopped";
      document.getElementById("startBtn").innerHTML = "Start Flight";
    } else {
      alert_text = "Ready for takeoff";
      document.getElementById("startBtn").innerHTML = "Stop Flight";
    }
    start = !start;
    let timerInterval
    Swal.fire({
          icon: 'success',
          title: 'Success',
          text: alert_text,
      timer: 1500,
      timerProgressBar: true,
      didOpen: () => {
        Swal.showLoading()
        timerInterval = setInterval(() => {
          const content = Swal.getContent()
          if (content) {
            const b = content.querySelector('b')
            if (b) {
              b.textContent = Swal.getTimerLeft()
            }
          }
        }, 100)
      },
      willClose: () => {
        clearInterval(timerInterval)
      }
    }).then((result) => {
      /* Read more about handling dismissals below */
      if (result.dismiss === Swal.DismissReason.timer) {
        console.log('I was closed by the timer')
      }
    })
    if(listener != undefined){
      listener.on_start(time_information);
    }
  }

  function get_flight_data(iteration, listen){
    $.ajax({
        url: '/get-next-position/'+String(iteration),
        type: 'GET',
        success: listen,
        error: function(error){
            console.log(error);
        }
    });
  }

  function test_method(input){
    $.post( "/testmethod", {
          data: JSON.stringify(input)
        }, function(err, req, resp){
          console.log(resp["responseJSON"]["uuid"]);
        });
  }



</script>
<script src="{{ url_for('static', filename='js/swarm.js')}}" type="module"></script>
