{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/index-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>The Swarm Project</h1>
            <span class="subheading">Control center for the swarm flights.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for flight in all_flights %}
        <div class="flight-preview">
          <a href="{{ url_for('show_flight', flight_id=flight.id) }}">
            <h2 class="flight-title">
              {{flight.title}}
            </h2>
            <h3 class="flight-subtitle">
              {{flight.subtitle}}
            </h3>
          </a>
          <p class="flight-meta">Posted by
            <a href="#">{{flight.author}}</a>
            on {{flight.date}}
            <a href="{{url_for('delete_flight', flight_id=flight.id) }}">✘</a>
          </p>
        </div>
        <hr>
        {% endfor %}


        <!-- New Flight -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('add_new_flight')}}">Create New Flight</a>
        </div>
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}